<br>
<table>
    <tr>
        <td class="sem-borda" style="width: 100px"></td>
        <td class="center" style="width: 200px">Montado por ></td>
        <td style="width: 270px"></td>
        <td class="sem-borda right">Kg</td>
        <td style="width: 55px"></td>
    </tr>
    <tr>
        <td class="sem-borda" style="width: 100px"></td>
        <td class="center" style="width: 200px">Conferido por ></td>
        <td style="width: 270px"></td>
        <td class="sem-borda right">Kg</td>
        <td style="width: 55px"></td>
    </tr>                    
</table>