<table cellspacing="0" cellpadding="0"
    style="border-width:0px;width:719px;border-collapse:collapse;white-space:normal;">
    <tr style="height:10px;">
        <td class="sFooter" colspan="8" style="height:9px;width:717px;"></td>
    </tr>
    <tr style="height:28px;">
        <td colspan="4" style="max-height:28px;height:28px;width:447px;max-width:447px;"></td>
        <td class="s9687a88e" colspan="4"
            style="text-align: right; max-height: 28px; height: 28px; width: 270px; max-width: 270px;">
            Total {{ valTotal | currency }} &nbsp;</td>
    </tr>
</table>