<div>
    <div class="item">
        <p></p>
        <h2 class="div-texto-botao" style="text-align: center">Seja bem-vindo!</h2>
        <p style="text-align: center">Administre seus pedidos de forma<br />mais rápida e organizada!</p>
    </div>
    <div class="container">
        <div class="mainmenu">
            <h3 class="div-texto-botao">Novo<br> pedido</h3>
            <p>Cadastre por aqui seu novo pedido.</p>
            <button mat-raised-button color="primary" routerLink="novo_pedido/0">Cadastrar</button>
        </div>
        <div class="mainmenu">
            <h3 class="div-texto-botao">Histórico pedido</h3>
            <p>Acesse aqui seu histórico de pedidos.</p>
            <button mat-raised-button color="primary" routerLink="pedidos">Acessar</button>
        </div>
    </div>
</div>