<mat-tab-group mat-align-tabs="start" dynamicHeight #tabGroup style="padding:10px"
    (selectedTabChange)="tabChanged($event)">
    <ng-container *ngIf="data.Cadastro === 'Pedido'">
        <mat-tab label="{{data.Tabs[0].DescricaoTab}}">
            <div class="tab-content" mat-dialog-content fxLayout="column">
                <app-pedido-impressao></app-pedido-impressao>
            </div>
        </mat-tab>
        <mat-tab label="{{data.Tabs[1].DescricaoTab}}">
            <div class="tab-content" mat-dialog-content fxLayout="column">
                <app-guia-expedicao></app-guia-expedicao>
            </div>
        </mat-tab>
    </ng-container>
    <ng-container *ngIf="data.Cadastro === 'Vendedor'">
        <mat-tab label="{{data.Tabs[0].DescricaoTab}}">
            <div class="tab-content" mat-dialog-content fxLayout="column">
                <app-vendedor-impressao></app-vendedor-impressao>
            </div>
        </mat-tab>
    </ng-container>
</mat-tab-group>
<div mat-dialog-action [align]="'end'" style="padding:10px">
    <button style="margin-left: 8px" mat-raised-button color="primary" (click)="this.print(data.Dados.Id);">
        <mat-icon>print</mat-icon> Imprimir
    </button>
    <button style="margin-left: 8px" mat-raised-button color="accent" (click)="this.print(data.Dados.Id, 'download');">
        <mat-icon>download</mat-icon> Baixar PDF
    </button>&nbsp;
    <button style="margin-left: 8px" mat-raised-button color="accent" (click)="this.downloadCSV();"
        *ngIf="data.Cadastro === 'Pedido'">
        <mat-icon>download</mat-icon> Baixar CSV
    </button>&nbsp;
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Fechar
    </button>
</div>