<div class="container">
    <div class="container">
        <mat-card class="card">
            <form [formGroup]="form">
                <mat-card-content>
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel [expanded]="false" #exppanel>
                            <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                                <div class="linha">
                                    <div class="coluna100">
                                        <mat-form-field>
                                            <mat-label>Filtro</mat-label>
                                            <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Maria"
                                                #input>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="linha">
                                <div class="coluna" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}"
                                    *ngIf="exppanel.expanded">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tipo pessoa</mat-label>
                                        <mat-select matInput placeholder="Tipo pessoa" formControlName="Pessoa"
                                            (selectionChange)="onselect($event)">
                                            <mat-option value="-1">[ Selecione o tipo de pessoa ]</mat-option>
                                            <mat-option *ngFor="let pe of pessoas" [value]="pe.key">
                                                {{ pe.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="coluna" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}"
                                    *ngIf="exppanel.expanded">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Região</mat-label>
                                        <mat-select matInput placeholder="Regiao" formControlName="Regiao"
                                            (selectionChange)="onselect($event)">
                                            <mat-option value="-1">[ Selecione a região ]</mat-option>
                                            <mat-option *ngFor="let rg of regioes" [value]="rg.Id">
                                                {{ rg.xNome }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="mat-elevation-z8" style="margin-top: 10px;">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="codigo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº Vendedor</th>
                                <td mat-cell *matCellDef="let row">{{row.Codigo}}</td>
                            </ng-container>
                            <ng-container matColumnDef="id">
                                <th hidden mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                                <td hidden mat-cell *matCellDef="let row">{{row.Id}}</td>
                            </ng-container>
                            <ng-container matColumnDef="xNome">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Razão social</th>
                                <td mat-cell *matCellDef="let row">{{row.xNome}}</td>
                            </ng-container>
                            <ng-container matColumnDef="xContato">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Contato</th>
                                <td mat-cell *matCellDef="let row">{{row.xContato}}</td>
                            </ng-container>
                            <ng-container matColumnDef="documento">
                                <th [hidden]="!isPhonePortrait" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    CNPJ/CPF</th>
                                <td [hidden]="!isPhonePortrait" mat-cell *matCellDef="let row">
                                    {{ row.Documento.length == 14 ? (row.Documento | cnpj) : (row.Documento | cpf)}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="fone">
                                <th [hidden]="!isPhonePortrait" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Telefone</th>
                                <td [hidden]="!isPhonePortrait" mat-cell *matCellDef="let row">{{ (row.fone == '' ?
                                    row.Celular : row.fone) | fone}}</td>
                            </ng-container>
                            <ng-container matColumnDef="acoes">
                                <th mat-header-cell *matHeaderCellDef>Ações</th>
                                <td mat-cell *matCellDef="let row">
                                    <button (click)="openVendedor(row.Id)" mat-icon-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="openDialogImpressao(row.Id, 'print')" mat-icon-button
                                        color="accent">
                                        <mat-icon>print</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4" *ngIf="input.value">Nenhum vendedor encontrado com o
                                    filtro:
                                    "{{input.value}}"</td>
                                <td class="mat-cell" colspan="4" *ngIf="!(input.value)">Nenhum vendedor cadastrado</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Selecione página de vendedores">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>