.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    overflow: hidden;
    width: auto;
    white-space: nowrap;
}

td:nth-child(1),
th:nth-child(1) {
    width: 85px;
    text-align: right !important;
}

td:nth-child(3),
th:nth-child(3) {
    width: 170px;
}

td:nth-child(4),
th:nth-child(4) {
    width: 100px;
}

td:nth-child(5),
th:nth-child(5) {
    width: 120px;
}

td:nth-child(6),
th:nth-child(6) {
    width: 100px;
    text-align: center !important;
}

td:last-child,
th:last-child {
    width: 100px;
    text-align: center !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.linha {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
    flex-flow: row wrap;
    display: flex;
}

.coluna {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 33%;
    padding: 0 10px 0 0;
}

.coluna100 {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
    padding: 30px 10px 0 0;
}

.coluna-isPhonePortrait {
    max-width: 100%;
}