<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list *ngIf="!hideSideMenu">
      <a mat-list-item (click)="sidenav.toggle(); menu('/')">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item (click)="sidenav.toggle(); menu('/clientes')">
        <mat-icon class="icon">face</mat-icon>
        <span class="label">Clientes</span>
      </a>
      <a mat-list-item (click)="sidenav.toggle(); menu('/novo_pedido/0')">
        <mat-icon class="icon">add_box</mat-icon>
        <span class="label">Novo pedido</span>
      </a>
      <a mat-list-item (click)="sidenav.toggle(); menu('/pedidos')">
        <mat-icon class="icon">view_cozy</mat-icon>
        <span class="label">Histórico</span>
      </a>
      <a mat-list-item (click)="sidenav.toggle(); menu('/login')" *ngIf="saudacao === undefined;else logout0">
        <mat-icon class="icon">login</mat-icon>
        <span class="label">Login</span>
      </a>
      <a mat-list-item (click)="sidenav.toggle(); menu('/vendedores')"> <!--  *ngIf="isAdmin" -->
        <mat-icon class="icon">face</mat-icon>
        <span class="label">Vendedores</span>
      </a>      
      <ng-template #logout0>
        <a mat-list-item (click)="sidenav.toggle(); loginService.logout()">
          <mat-icon class="icon">login</mat-icon>
          <span class="label">{{ saudacao }}</span>
        </a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div *ngIf="!hideSideMenu">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div style="margin-top: 10px; width: 170px">
        <img src="assets/images/windows11/SmallTile.scale-100.png" alt="Logo da empresa">
      </div>
      <div>
        <a routerLink="/">
          <span class="label" [ngClass]="{'isPhonePortrait': !hideSideMenu}">Aplicativo de vendas</span>
        </a>
      </div>
      <div class="menu" *ngIf="hideSideMenu">
        <ul>
          <li>
            <a routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a (click)="menu('clientes')"> <!-- routerLink="/clientes" -->
              <mat-icon class="icon">face</mat-icon>
              <span class="label">Clientes</span>
            </a>
          </li>
          <li>
            <a (click)="menu('novo_pedido/0')"> <!-- routerLink="/novo_pedido/0" -->
              <mat-icon class="icon">add_box</mat-icon>
              <span class="label">Novo pedido</span>
            </a>
          </li>
          <li>
            <a (click)="menu('pedidos')"> <!-- routerLink="/pedidos" -->
              <mat-icon class="icon">view_cozy</mat-icon>
              <span class="label">Histórico</span>
            </a>
          </li>
          <li> <!-- *ngIf="isAdmin" -->
            <a (click)="menu('vendedores')"> <!-- routerLink="/pedidos" -->
              <mat-icon class="icon">face</mat-icon>
              <span class="label">Vendedores</span>
            </a>
          </li>          
          <li>
            &nbsp;
            <a routerLink="/login" *ngIf="saudacao === undefined;else logout">
              <mat-icon class="icon">login</mat-icon>
              <span class="label">Login</span>
            </a>
            <ng-template #logout>
              <a (click)="loginService.logout()">
                <span class="label">| {{ saudacao }}</span>
              </a>
            </ng-template>
          </li>
          <li>
            &nbsp;
            <button type="button" (click)="toggle()">
              <img src="assets/images/svg/{{ icon }}.svg" alt="Clique aqui para trocar para {{ textTheme }}.">
            </button>
          </li>
        </ul>
      </div>
    </mat-toolbar>

    <div class="logo" *ngIf="hideSideMenu">
      <img src="assets/images/windows11/SmallTile.scale-200.png" alt="Logo da empresa">
    </div>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>