.example-spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.linha {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
  flex-flow: row wrap;
  display: flex;
}

.coluna {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  padding: 0 10px 0 0;
}

.coluna10 {
  max-width: 10%;
}

.coluna25 {
  max-width: 25%;
}

.coluna33 {
  max-width: 33%;
}

.coluna40 {
  max-width: 40%;
}

.coluna50 {
  max-width: 50%;
}

.coluna66 {
  max-width: 66%;
}

.coluna-isPhonePortrait {
  max-width: 100%;
}