<h2>Preencha os dados do cliente</h2>
<div class="form-wrapper">
    <ng-container [formGroup]="formCliente" *ngIf="formCliente">
        <!-- <input matInput formControlName="id" [hidden]="true">
        <input matInput formControlName="idPedidoUltimo" [hidden]="true"> -->
        <div class="linha">
            <div class="coluna coluna25" [ngClass]="{'coluna50': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>CPF ou CNPJ</mat-label>
                    <input matInput placeholder="Buscar cliente" [textMask]="documentoMask"
                        (keyup)="BuscarEmpresa($event)" #inputCliente formControlName="cnpj" autofocus>
                    <button matSuffix mat-button>
                        <mat-icon (click)="BuscarEmpresaIcon(inputCliente.value)">search</mat-icon>
                    </button>
                    <mat-error *ngFor="let validation of validation_messages.cnpj">
                        <mat-error class="error-message"
                            *ngIf="formCliente.controls['cnpj'].errors?.[validation.type] && (formCliente.controls['cnpj'].dirty || formCliente.controls['cnpj'].touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="coluna coluna25" [ngClass]="{'coluna50': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Inscrição Estadual</mat-label>
                    <input matInput placeholder="Inscrição Estadual" formControlName="IE">
                </mat-form-field>
            </div>
        </div>
        <div class="linha">
            <div class="coluna coluna50" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome do cliente" formControlName="nome" #inputNome>
                    <mat-error *ngFor="let validation of validation_messages.nome">
                        <mat-error class="error-message"
                            *ngIf="formCliente.controls['nome'].errors?.[validation.type] && (formCliente.controls['nome'].dirty || formCliente.controls['nome'].touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="coluna coluna50" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Fantasia</mat-label>
                    <input matInput placeholder="Nome fantasia do cliente" formControlName="fantasia">
                </mat-form-field>
            </div>
        </div>
        <div class="linha">
            <div class="coluna coluna25" [ngClass]="{'coluna50': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input matInput placeholder="CEP" formControlName="cep" appMaskCep appSelectOnFocus
                        [textMask]="cepMask" (keydown.enter)="ObterEndereco()" (keyup)="ObterEndereco()">
                    <button matSuffix mat-button (click)="ObterEndereco()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="coluna coluna50" *ngIf="!isPhonePortrait">
                <label class="form-check-label" for="indMe">Micro empresa?
                    <input type="checkbox" formControlName="me" id="me" class="form-check-input">
                </label>
            </div>
            <div class="coluna coluna50" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <mat-icon matPrefix>email</mat-icon>
                    <span matPrefix></span>
                    <input formControlName="email" matInput placeholder="E-mail" maxlength="100" type="email">
                    <mat-error *ngFor="let validation of validation_messages.email">
                        <mat-error class="error-message"
                            *ngIf="formCliente.controls['email'].errors?.[validation.type] && (formCliente.controls['email'].dirty || formCliente.controls['email'].touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="coluna coluna25" *ngIf="isPhonePortrait">
                <label class="form-check-label" for="indMe">Micro empresa?
                    <input type="checkbox" formControlName="me" id="me" class="form-check-input">
                </label>
            </div>
        </div>
        <div class="linha">
            <div class="coluna coluna50" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="Endereço do cliente" formControlName="endereco">
                </mat-form-field>
            </div>
            <div class="coluna coluna10" [ngClass]="{'coluna33': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input matInput placeholder="Número do endereço" formControlName="numero">
                </mat-form-field>
            </div>
            <div class="coluna coluna40" [ngClass]="{'coluna66': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Complemento</mat-label>
                    <input matInput placeholder="Complemento do endereço" formControlName="complemento">
                </mat-form-field>
            </div>
        </div>
        <div class="linha">
            <div class="coluna coluna25" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput placeholder="Bairro do cliente" formControlName="bairro">
                </mat-form-field>
            </div>
            <div class="coluna coluna50" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput placeholder="Cidade do cliente" formControlName="cidade">
                </mat-form-field>
            </div>
            <div class="coluna coluna25" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>UF</mat-label>
                    <mat-select matInput placeholder="UF" formControlName="uf">
                        <mat-option value="-1">[ Selecione o estado ]</mat-option>
                        <mat-option *ngFor="let uf of Estados" [value]="uf.key">
                            {{ uf.key }}-{{ uf.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="linha">
            <div class="coluna coluna10" [ngClass]="{'coluna33': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>DDD</mat-label>
                    <input matInput placeholder="DDD" formControlName="ddd" maxlength="2" appSelectOnFocus>
                </mat-form-field>
            </div>
            <div class="coluna coluna40" [ngClass]="{'coluna66': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>1º Telefone</mat-label>
                    <span matPrefix></span>
                    <mat-icon matPrefix>phone</mat-icon>
                    <input matInput placeholder="1º telefone" formControlName="fone" [textMask]="foneMask"
                        appSelectOnFocus>
                </mat-form-field>
            </div>
            <div class="coluna coluna10" [ngClass]="{'coluna33': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>DDD</mat-label>
                    <input matInput placeholder="DDD" formControlName="ddd2" maxlength="2" appSelectOnFocus>
                </mat-form-field>
            </div>
            <div class="coluna coluna40" [ngClass]="{'coluna66': !isPhonePortrait}">
                <mat-form-field appearance="outline">
                    <mat-label>2º Telefone</mat-label>
                    <span matPrefix></span>
                    <mat-icon matPrefix>phone</mat-icon>
                    <input matInput placeholder="2º telefone" formControlName="fone2" [textMask]="foneMask"
                        appSelectOnFocus>
                </mat-form-field>
            </div>
        </div>
    </ng-container>
</div>